[submodule "pack/nvim/start/nvim-lspconfig"]
	path = pack/nvim/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "pack/nvim/start/nerdtree"]
	path = pack/nvim/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/nvim/start/fzf-lua"]
	path = pack/nvim/start/fzf-lua
	url = git@github.com:ibhagwan/fzf-lua.git
[submodule "pack/nvim/start/oil.nvim"]
	path = pack/nvim/start/oil.nvim
	url = git@github.com:stevearc/oil.nvim.git
[submodule "pack/nvim/start/gitsigns.nvim"]
	path = pack/nvim/start/gitsigns.nvim
	url = git@github.com:lewis6991/gitsigns.nvim.git
[submodule "pack/nvim/start/nerdtree-git-plugin"]
	path = pack/nvim/start/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/nvim/start/blink.cmp"]
	path = pack/nvim/start/blink.cmp
	url = git@github.com:saghen/blink.cmp.git
